.header {
  background-color: #535353;
  padding: 10px 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 5px;
  border-bottom: solid grey 5px;
}

.header a {
  text-decoration: none;
  color: white;
}

#home-link {
  padding: 15px;
}

#home-link a {
  font-size: 1.5rem;
  font-weight: bold;
}

#navigation-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

#navigation-links a {
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  padding: 15px;
}

#navigation-links a.active,
#navigation-links a:hover {
  background-color: #bcbcb7;
  color: #5c5c5c;
}
